name: "Generate Previews"

on:
  workflow_call:
  push:
    paths:
      - '.github/workflows/generate_previews.yml' # this action
      - 'preview/sources/**'                      # source files
      - 'preview/themes/**'                       # theme files
      - 'generate_previews.py'                    # preview generation script
    branches:
      - master

jobs:
  generate_preview:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6
      with:
        ref: master # always checkout "master" even if we are triggered with a tag (detached HEAD), so we could commit to "master" later

    - name: Install Nix
      uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        github_access_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Download Fonts
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release download --repo ${{ github.repository }} --pattern "*.tar.zst" --dir ./artifacts

    - name: Extract Fonts
      run: |
        mkdir fonts
        tar --zstd -xf artifacts/Iosevkata-v*.tar.zst -C ./fonts
        tar --zstd -xf artifacts/IosevkataNerdFont-v*.tar.zst -C ./fonts
        tar --zstd -xf artifacts/IosevkataNerdFontMono-v*.tar.zst -C ./fonts

    - name: Install Fonts
      run: |
        mkdir -p ~/.fonts
        cp ./fonts/*.ttf ~/.fonts/
        fc-cache -fv
        fc-list | grep -i Iosevkata

    - name: Generate Preview Images
      uses: workflow/nix-shell-action@v3.4.0
      with:
        flakes-from-devshell: true
        script: |
          ./generate_previews.py --source ./preview/sources/ --theme ./preview/themes/ --output ./preview/images/

    - name: Configure Git Credentials
      run: |
        git config user.name github-actions[bot]
        git config user.email github-actions[bot]@users.noreply.github.com

    - name: Push Preview Images
      run: |
        if git status --porcelain preview/images | grep -E '^\s*[M?]'; then
          echo "Preview image changed, committing..."
          git add preview/images
          git commit -m "Update font preview"
          git push
        else
          echo "Preview image unchanged, skipping commit."
        fi
